.Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}
.Card .CardTitle{
    font-size: x-large;
    font-weight: 600;
    width: 200px;
    padding: 0;

}