.Filter{
    
    background: blue;
    height: 100vh;
    width: 200px;
   
}

.button{

    width: 150px;
    height: 70px;
    border: none;
    background: black;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
}
.button:hover{
    border: solid white 2px;
}